@media (min-width: 460px) {
  .gallery {
    padding: 0 6rem;
  }

  .gallery > img {
    border-radius: 10px;
  }

  .gallery > [name="previous"] {
    background-color: var(--secondary);
    left: 1rem;
  }

  .gallery > [name="next"] {
    background-color: var(--secondary);
    right: 1rem;
  }

  .product-container {
    padding: 2rem 6rem;
  }
}



@media screen and (min-width: 600px) {
  .gallery-img {
    border-radius: 10px;
  }
}

@media (min-width: 800px) {
  .header {
    margin: auto;
    border-bottom: 1px solid var(--neutral-gray-blue);
    max-width: 105rem;
  }

  .logo-mobile {
    display: none;
  }

  .navbar > .logo {
    display: block;
  }

  .navbar {
    align-items: center;
    display: flex !important;
    gap: 6rem;
    position: inherit;
    width: auto;
    z-index: 0;
  }

  .navbar > ul {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  .nav-item > a {
    font-weight: 400;
    padding: 2.70rem 0;
  }

  .nav-item > a:hover, .nav-item > a:active {
    border-bottom: 4px solid var(--primary);
  }

  .close-icon {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .header {
    align-items: center;
    padding: 0;
    height: 8rem;
  }

  .header-last {
    align-items: center;
    display: flex;
    gap: 2rem;
  }

  .profile-icon > img {
    height: 4rem;
  }

  .cart {
    box-shadow: 0 8px 25px 0 var(--neutral-gray-blue);
    right: initial; 
    z-index: 3;
    transform: translate(-50%, 0);
    top: 8.5rem;
  }

  .product-details {
    align-items: center;
    display: grid;
    gap: 2rem;
    margin: 5rem 5%;
    max-width: 90rem;
    place-content: center;
    grid-template-columns: 1fr 1fr;
  }

  .gallery {
    display: none;
  }

  .gallery-desktop {
    display: block;
  }

  .gallery-img {
    aspect-ratio: 4/4;
    height: 100%;
    object-fit: initial;
    object-position: initial;
    width: 100%;
  }
  
  .product-container {
    padding: 2rem;
  }
  
  .heading {
    font-size: 3.6rem;
  }

  .product-description {
    margin-bottom: 2rem;
  }

  .price-container {
    align-items: initial;
    flex-direction: column;
    gap: 0;
  }

  .price-discount > p {
    margin: 0;
  }

  .price-discount {
    justify-content: initial;
  }

  .product-action {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .cart-btn {
    width: 40%;
    margin: 0;
  }
  
  .add-to-cart {
    align-items: center;
    margin-bottom: 0;
    width: 55%;
  }
}


@media (min-width: 960px) {
  .product-details {
    gap: 8rem;
    margin-right: auto;
    margin-left: auto;
  }
}